body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.welcome {
  text-align: left;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.field {
  text-align: left;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  /* border-style:double; */
}
#next {
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 30px;
}
#dropdownMenuButton2 {
  background-color: white;
  font: black;
}
.click {
  text-align: start;
}
.form-floating {
  width: 300px;
  margin: 10px;
}
.form-check {
  margin-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
.form-check-input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  margin-left: 10px;
  text-decoration: solid;
}
.btn btn-primary btn-lg {
  text-align: left;
  width: 150px;
}

.btn btn-primary btn-lg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#Proceedbutton {
  margin-left: 5px;
  width: 300px;
  border-radius: 20px;
}
#file {
  width: 300px;
  margin-left: 10px;
}
.holders {
  border-radius: 30px;
}
#placeholder{
width: 250px;
}
#sec{
  width: 30px;
  text-align: center;
}
#a{
  width: 250px;
  margin-left: 0px;
}
#dropdown{
  width: 250px;
  border-color: black;
}
#tick{
  margin-left: 10px;
  color: blue;
  font-size: larger;
}
.a{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
#box{
  align-items: center;
  margin-left: 200px;
  width: 100px;
  margin-top: 20px;
  border: 2px;
  
}
#box1{
  margin-top: 100px;
}
.h1{
  margin-left: 200px;
}
#btn{
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

